*{
  margin: 0;
  padding: 0;
}

.game{
  font-size: 30px;
  width: 1000px;
  height: 500px;
  border: 1px black solid;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;}

  @keyframes gradient {
  0% {
        background-position: 0% 50%;
    }
  50% {
        background-position: 100% 50%;
    }
  100% {
        background-position: 0% 50%;
    }
}

.character{
  width: 75px;
  height: 100px;
  contain: content;
  position: relative;
  top: 400px;
}

.character img{
  height: 100%;
  width: 100%;
}

.enemy{
  width: 75px;
  height: 100px;
  contain: content;
  position: relative;
  top: 300px;
  left: 925px;
}

.enemyAnimate{
  animation:enemy 1.5s linear infinite;
}

.enemy img{
  height: 100%;
  width: 100%;
}

@keyframes enemy{
  0%{left: 925px;}
  100%{left:0px;}
}

button{
  width: 300px;
  font-size: 40px;
  position: absolute;
  left: 300px;
}

@keyframes jump{
  0%{top: 400px;}
  30%{top: 200px;}
  70%{top: 400px;}
}

.jump{
  animation: jump 1s;
}

.score {
    position: absolute;
    top: 100px;
    right: 1000px;
    font-size: 40px;
    font-weight: bold;
}
